In [1]:
import pandas as pd
import numpy as np

In [50]:
Schellebelle_pH=pd.read_csv('Schellebelle SF Zeeschelde_pH.csv',delimiter=';',header=7)# water PH

Schellebelle_Watertemperature=pd.read_csv('Schellebelle SF Zeeschelde_Watertemperature.csv',delimiter=';',header=7)# Water Temperature

Schellebelle_Turbidity=pd.read_csv('Schellebelle SF Zeeschelde_Turbidity.csv',delimiter=';',header=7) #Water Turbidity

Schellebelle_Dissolved_Oxygen=pd.read_csv('Schellebelle SF Zeeschelde_Dissolved Oxygen.csv',delimiter=';',header=7)#Water's Disolved Oxygen

Schellebelle_Conductivity=pd.read_csv('Schellebelle SF Zeeschelde_Conductivity.csv',delimiter=';',header=7)#Water conductivity

Schellebelle_Salinity=pd.read_csv('Schellebelle SF Zeeschelde_Salinity.csv',delimiter=';',header=7)#Water Salinity

Schellebelle_Chlorofyl=pd.read_csv('Schellebelle SF Zeeschelde_Chlorofyl.csv',delimiter=';',header=7)#Water Chlorofyl

In [51]:
Schellebelle_pH=Schellebelle_pH.rename(columns={'Value':'PH','#Timestamp':'Date1'})
Schellebelle_pH=Schellebelle_pH.drop(columns={'Quality Code','Absolute Value','AV Quality Code'})

Schellebelle_Watertemperature=Schellebelle_Watertemperature.rename(columns={'Value':'Watertemperature','#Timestamp':'Date2'})
Schellebelle_Watertemperature=Schellebelle_Watertemperature.drop(columns={'Quality Code','Absolute Value','AV Quality Code'})

Schellebelle_Turbidity=Schellebelle_Turbidity.rename(columns={'Value':'Turbidity','#Timestamp':'Date3'})
Schellebelle_Turbidity=Schellebelle_Turbidity.drop(columns={'Quality Code','Absolute Value','AV Quality Code'})

Schellebelle_Dissolved_Oxygen=Schellebelle_Dissolved_Oxygen.rename(columns={'Value':'Dissolved Oxygen','#Timestamp':'Date4'})
Schellebelle_Dissolved_Oxygen=Schellebelle_Dissolved_Oxygen.drop(columns={'Quality Code','Absolute Value','AV Quality Code'})

Schellebelle_Conductivity=Schellebelle_Conductivity.rename(columns={'Value':'Conductivity','#Timestamp':'Date5'})
Schellebelle_Conductivity=Schellebelle_Conductivity.drop(columns={'Quality Code','Absolute Value','AV Quality Code'})

Schellebelle_Salinity=Schellebelle_Salinity.rename(columns={'Value':'Salinity','#Timestamp':'Date6'})
Schellebelle_Salinity=Schellebelle_Salinity.drop(columns={'Quality Code','Absolute Value','AV Quality Code'})

Schellebelle_Chlorofyl=Schellebelle_Chlorofyl.rename(columns={'Value':'Chlorofyl','#Timestamp':'Date7'})
Schellebelle_Chlorofyl=Schellebelle_Chlorofyl.drop(columns={'Quality Code','Absolute Value','AV Quality Code'})

In [52]:
Schellebelle_pH=Schellebelle_pH.apply(lambda x: x.str.replace(',','.'))# replace ',' with '.' in order to make calculations
Schellebelle_Watertemperature=Schellebelle_Watertemperature.apply(lambda x: x.str.replace(',','.'))
Schellebelle_Dissolved_Oxygen=Schellebelle_Dissolved_Oxygen.apply(lambda x: x.str.replace(',','.'))
Schellebelle_Salinity=Schellebelle_Salinity.apply(lambda x: x.str.replace(',','.'))
Schellebelle_Chlorofyl=Schellebelle_Chlorofyl.apply(lambda x: x.str.replace(',','.'))


Schellebelle_pH['PH']=Schellebelle_pH['PH'].astype(float).round(3)
Schellebelle_Watertemperature['Watertemperature']=Schellebelle_Watertemperature['Watertemperature'].astype(float).round(3)
Schellebelle_Dissolved_Oxygen['Dissolved Oxygen']=Schellebelle_Dissolved_Oxygen['Dissolved Oxygen'].astype(float).round(3)
Schellebelle_Salinity['Salinity']=Schellebelle_Salinity['Salinity'].astype(float).round(3)
Schellebelle_Chlorofyl['Chlorofyl']=Schellebelle_Chlorofyl['Chlorofyl'].astype(float).round(3)

In [53]:
Schellebelle_pH['Date1']=Schellebelle_pH['Date1'].str[:16]
Schellebelle_pH['Date1']= Schellebelle_pH['Date1'].str.replace('T',' ')
Schellebelle_pH['Date1']=pd.to_datetime(Schellebelle_pH['Date1'])
Schellebelle_pH = Schellebelle_pH.set_index('Date1')
ph=Schellebelle_pH.reset_index().groupby(pd.Grouper(key='Date1', freq='h'))['PH'].mean()#find the mean of multiple loggs per day
ph=ph.reset_index()
ph=ph.rename(columns={'PH':'Mean PH per Hour'})

Schellebelle_Watertemperature['Date2']=Schellebelle_Watertemperature['Date2'].str[:16]
Schellebelle_Watertemperature['Date2']= Schellebelle_Watertemperature['Date2'].str.replace('T',' ')
Schellebelle_Watertemperature['Date2']=pd.to_datetime(Schellebelle_Watertemperature['Date2'])
Schellebelle_Watertemperature = Schellebelle_Watertemperature.set_index('Date2')
wt=Schellebelle_Watertemperature.reset_index().groupby(pd.Grouper(key='Date2', freq='H'))['Watertemperature'].mean()
wt=wt.reset_index()
wt=wt.rename(columns={'Watertemperature':'Mean Watertemperature per Hour'})

Schellebelle_Turbidity['Date3']=Schellebelle_Turbidity['Date3'].str[:16]
Schellebelle_Turbidity['Date3']= Schellebelle_Turbidity['Date3'].str.replace('T',' ')
Schellebelle_Turbidity['Date3']=pd.to_datetime(Schellebelle_Turbidity['Date3'])
Schellebelle_Turbidity = Schellebelle_Turbidity.set_index('Date3')
tur=Schellebelle_Turbidity.reset_index().groupby(pd.Grouper(key='Date3', freq='H'))['Turbidity'].mean()
tur=tur.reset_index()
tur=tur.rename(columns={'Turbidity':'Mean Turbidity per Hour'})

Schellebelle_Dissolved_Oxygen['Date4']=Schellebelle_Dissolved_Oxygen['Date4'].str[:16]
Schellebelle_Dissolved_Oxygen['Date4']= Schellebelle_Dissolved_Oxygen['Date4'].str.replace('T',' ')
Schellebelle_Dissolved_Oxygen['Date4']=pd.to_datetime(Schellebelle_Dissolved_Oxygen['Date4'])
Schellebelle_Dissolved_Oxygen = Schellebelle_Dissolved_Oxygen.set_index('Date4')
do=Schellebelle_Dissolved_Oxygen.reset_index().groupby(pd.Grouper(key='Date4', freq='H'))['Dissolved Oxygen'].mean()
do=do.reset_index()
do=do.rename(columns={'Dissolved Oxygen':'Mean Dissolved Oxygen per Hour'})

Schellebelle_Conductivity['Date5']=Schellebelle_Conductivity['Date5'].str[:16]
Schellebelle_Conductivity['Date5']= Schellebelle_Conductivity['Date5'].str.replace('T',' ')
Schellebelle_Conductivity['Date5']=pd.to_datetime(Schellebelle_Conductivity['Date5'])
Schellebelle_Conductivity = Schellebelle_Conductivity.set_index('Date5')
con=Schellebelle_Conductivity.reset_index().groupby(pd.Grouper(key='Date5', freq='H'))['Conductivity'].mean()
con=con.reset_index()
con=con.rename(columns={'Conductivity':'Mean Conductivity per Hour'})

Schellebelle_Salinity['Date6']=Schellebelle_Salinity['Date6'].str[:16]
Schellebelle_Salinity['Date6']= Schellebelle_Salinity['Date6'].str.replace('T',' ')
Schellebelle_Salinity['Date6']=pd.to_datetime(Schellebelle_Salinity['Date6'])
Schellebelle_Salinity = Schellebelle_Salinity.set_index('Date6')
sal=Schellebelle_Salinity.reset_index().groupby(pd.Grouper(key='Date6', freq='H'))['Salinity'].mean()
sal=sal.reset_index()
sal=sal.rename(columns={'Salinity':'Mean Salinity per Hour'})

Schellebelle_Chlorofyl['Date7']=Schellebelle_Chlorofyl['Date7'].str[:16]
Schellebelle_Chlorofyl['Date7']= Schellebelle_Chlorofyl['Date7'].str.replace('T',' ')
Schellebelle_Chlorofyl['Date7']=pd.to_datetime(Schellebelle_Chlorofyl['Date7'])
Schellebelle_Chlorofyl = Schellebelle_Chlorofyl.set_index('Date7')
chlor=Schellebelle_Chlorofyl.reset_index().groupby(pd.Grouper(key='Date7', freq='H'))['Chlorofyl'].mean()
chlor=chlor.reset_index()
chlor=chlor.rename(columns={'Chlorofyl':'Mean Chlorofyl per Hour'})

In [60]:
m1=pd.merge(wt,ph,left_on='Date2',right_on='Date1',how='left')
m2=pd.merge(tur,do,left_on='Date3',right_on='Date4',how='left')
m3=pd.merge(con,sal,left_on='Date5',right_on='Date6',how='left')
temp1=pd.merge(m1,m2,left_on='Date1',right_on='Date3',how='left')
temp2=pd.merge(temp1,m3,left_on='Date1',right_on='Date5',how='left')
final_df=pd.merge(temp2,chlor,left_on='Date1',right_on='Date7',how='left')

In [62]:
final_df=final_df.dropna(subset=['Mean Conductivity per Hour'])

In [64]:
final_df=final_df.drop(columns={'Date2','Date3','Date4','Date5','Date6','Date7'})
final_df=final_df.rename(columns={'Date1':'Date'})
final_df=final_df.iloc[:, [1,2,0,3,4,5,6,7]]
final_df=final_df.bfill()

In [65]:
final_df

,Date,Mean PH per Hour,Mean Watertemperature per Hour,Mean Turbidity per Hour,Mean Dissolved Oxygen per Hour,Mean Conductivity per Hour,Mean Salinity per Hour,Mean Chlorofyl per Hour
84,2021-04-06 11:00:00,7.600000,9.900000,9.500000,5.333333,680.166667,0.473333,4.466667
85,2021-04-06 12:00:00,7.600000,9.900000,12.500000,9.391667,676.666667,0.470000,5.000000
86,2021-04-06 13:00:00,7.600000,9.916667,13.166667,9.416667,681.833333,0.475000,6.066667
87,2021-04-06 14:00:00,7.633333,9.891667,11.583333,9.200000,682.000000,0.475000,7.108333
88,2021-04-06 15:00:00,7.616667,9.800000,11.083333,9.300000,682.750000,0.477500,7.375000
...,...,...,...,...,...,...,...,...
8769,2022-04-03 08:00:00,7.966667,9.625000,21.083333,9.791667,720.083333,0.506667,10.875000
8770,2022-04-03 09:00:00,7.983333,9.700000,15.250000,9.741667,715.833333,0.502500,10.508333
8771,2022-04-03 10:00:00,7.991667,9.700000,27.833333,9.783333,717.000000,0.502500,10.258333
8772,2022-04-03 11:00:00,8.000000,9.700000,21.166667,9.958333,720.666667,0.505833,11.141667
8773,2022-04-03 12:00:00,8.000000,9.800000,19.666667,10.066667,723.500000,0.510000,11.350000

In [71]:
from datetime import datetime
import matplotlib.pyplot as plt
from meteostat import Stations, Hourly

In [67]:
start = datetime(2021, 4, 3) #declare the first day from the requested period of time
end = datetime(2022, 4, 3) #declarde the last day from the requested period of time

In [68]:
stations = Stations() #declare station
stations = stations.nearby(51.0115409, 3.917)#longtitude and latitude of Schellebelle
station = stations.fetch(1)

In [69]:
station

,name,country,region,wmo,icao,latitude,longitude,elevation,timezone,hourly_start,hourly_end,daily_start,daily_end,monthly_start,monthly_end,distance
id,,,,,,,,,,,,,,,,
06434,Melle / Kalverhaag,BE,VLG,06434,<NA>,50.9833,3.8167,13.0,Europe/Brussels,2009-10-26,2022-03-28,2009-11-20,2022-03-28,2015-01-01,2020-01-01,7689.537393

In [115]:
weather_data = Hourly(station, start, end)
weather_data = weather_data.fetch()

In [116]:
weather_data

,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
time,,,,,,,,,,,
2021-04-03 00:00:00,5.8,3.1,83.0,0.0,NaN,10.0,14.4,NaN,1028.5,NaN,NaN
2021-04-03 01:00:00,5.6,2.8,82.0,0.0,NaN,360.0,7.2,NaN,1028.2,NaN,NaN
2021-04-03 02:00:00,6.1,2.7,79.0,0.0,NaN,20.0,21.6,NaN,1028.0,NaN,NaN
2021-04-03 03:00:00,6.1,2.0,75.0,0.0,NaN,10.0,18.0,NaN,1028.0,NaN,NaN
2021-04-03 04:00:00,5.9,0.6,69.0,0.0,NaN,20.0,14.4,NaN,1028.2,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2022-04-02 20:00:00,1.4,-3.9,68.0,0.0,NaN,12.0,8.3,NaN,1022.7,NaN,NaN
2022-04-02 21:00:00,1.2,-4.5,66.0,0.0,NaN,14.0,12.6,NaN,1023.1,NaN,NaN
2022-04-02 22:00:00,0.9,-4.9,65.0,0.0,NaN,22.0,11.5,NaN,1023.5,NaN,NaN
2022-04-02 23:00:00,-0.2,-4.6,72.0,0.0,NaN,21.0,9.0,NaN,1023.8,NaN,NaN
2022-04-03 00:00:00,-0.4,-5.0,71.0,0.0,NaN,32.0,8.6,NaN,1024.3,NaN,NaN

In [117]:
weather_data=weather_data.rename(columns={'time':'Date','dwpt':'Atm. Moisture','rhum':'Humidity','prcp':
                                        
                                        'PRCP',"wdir":'Wind Direction','wspd':'Wind Speed','pres':'Pressure','temp':'Atm.Temperature'})

In [118]:
weather_data=weather_data.reset_index()
weather_data=weather_data.drop(columns={'snow','wpgt','tsun','coco','Atm. Moisture','Humidity'})
weather_data=weather_data.rename(columns={'time':'Date'})

In [119]:
df=pd.merge(weather_data,final_df,left_on=['Date'],right_on=['Date'],how='left')

In [120]:
df

,Date,Atm.Temperature,PRCP,Wind Direction,Wind Speed,Pressure,Mean PH per Hour,Mean Watertemperature per Hour,Mean Turbidity per Hour,Mean Dissolved Oxygen per Hour,Mean Conductivity per Hour,Mean Salinity per Hour,Mean Chlorofyl per Hour
0,2021-04-03 00:00:00,5.8,0.0,10.0,14.4,1028.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-04-03 01:00:00,5.6,0.0,360.0,7.2,1028.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-04-03 02:00:00,6.1,0.0,20.0,21.6,1028.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-04-03 03:00:00,6.1,0.0,10.0,18.0,1028.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-04-03 04:00:00,5.9,0.0,20.0,14.4,1028.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8756,2022-04-02 20:00:00,1.4,0.0,12.0,8.3,1022.7,7.933333,10.200,26.000000,9.891667,723.166667,0.500000,10.233333
8757,2022-04-02 21:00:00,1.2,0.0,14.0,12.6,1023.1,7.941667,10.125,15.250000,9.825000,717.416667,0.498333,9.558333
8758,2022-04-02 22:00:00,0.9,0.0,22.0,11.5,1023.5,7.975000,10.100,25.333333,9.825000,726.833333,0.505833,9.908333
8759,2022-04-02 23:00:00,-0.2,0.0,21.0,9.0,1023.8,7.966667,10.075,21.166667,9.808333,734.833333,0.510000,9.791667
8760,2022-04-03 00:00:00,-0.4,0.0,32.0,8.6,1024.3,7.933333,9.975,17.416667,9.850000,741.083333,0.518333,9.483333

In [121]:
df=df.dropna(subset=['Mean Conductivity per Hour'])

In [122]:
df

,Date,Atm.Temperature,PRCP,Wind Direction,Wind Speed,Pressure,Mean PH per Hour,Mean Watertemperature per Hour,Mean Turbidity per Hour,Mean Dissolved Oxygen per Hour,Mean Conductivity per Hour,Mean Salinity per Hour,Mean Chlorofyl per Hour
83,2021-04-06 11:00:00,4.9,0.9,310.0,25.2,1016.7,7.600000,9.900000,9.500000,5.333333,680.166667,0.473333,4.466667
84,2021-04-06 12:00:00,5.5,0.2,310.0,25.2,1016.2,7.600000,9.900000,12.500000,9.391667,676.666667,0.470000,5.000000
85,2021-04-06 13:00:00,4.5,0.4,320.0,21.6,1016.2,7.600000,9.916667,13.166667,9.416667,681.833333,0.475000,6.066667
86,2021-04-06 14:00:00,1.8,0.4,340.0,25.2,1016.5,7.633333,9.891667,11.583333,9.200000,682.000000,0.475000,7.108333
87,2021-04-06 15:00:00,2.2,0.1,330.0,25.2,1016.5,7.616667,9.800000,11.083333,9.300000,682.750000,0.477500,7.375000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8756,2022-04-02 20:00:00,1.4,0.0,12.0,8.3,1022.7,7.933333,10.200000,26.000000,9.891667,723.166667,0.500000,10.233333
8757,2022-04-02 21:00:00,1.2,0.0,14.0,12.6,1023.1,7.941667,10.125000,15.250000,9.825000,717.416667,0.498333,9.558333
8758,2022-04-02 22:00:00,0.9,0.0,22.0,11.5,1023.5,7.975000,10.100000,25.333333,9.825000,726.833333,0.505833,9.908333
8759,2022-04-02 23:00:00,-0.2,0.0,21.0,9.0,1023.8,7.966667,10.075000,21.166667,9.808333,734.833333,0.510000,9.791667
8760,2022-04-03 00:00:00,-0.4,0.0,32.0,8.6,1024.3,7.933333,9.975000,17.416667,9.850000,741.083333,0.518333,9.483333

In [123]:
df.describe()

,Atm.Temperature,PRCP,Wind Direction,Wind Speed,Pressure,Mean PH per Hour,Mean Watertemperature per Hour,Mean Turbidity per Hour,Mean Dissolved Oxygen per Hour,Mean Conductivity per Hour,Mean Salinity per Hour,Mean Chlorofyl per Hour
count,8665.000000,8665.000000,8665.000000,8665.000000,8665.000000,8665.000000,8665.000000,8665.000000,8665.000000,8665.000000,8665.000000,8665.000000
mean,11.054864,0.088644,176.769763,12.187617,1018.168621,7.771046,13.559282,44.227428,8.296184,668.229865,0.423757,16.997446
std,6.197109,0.335538,105.841644,6.973490,9.981045,0.362026,5.556682,29.894411,3.126531,122.021723,0.052512,19.275339
min,-5.100000,0.000000,0.000000,0.000000,984.900000,5.425000,5.200000,6.500000,0.000000,342.250000,0.290000,2.183333
25%,6.100000,0.000000,80.000000,7.200000,1011.800000,7.700000,9.325000,24.916667,6.825000,579.416667,0.385000,5.458333
50%,10.700000,0.000000,210.000000,10.800000,1018.700000,7.800000,12.516667,35.666667,8.725000,680.000000,0.420000,8.975000
75%,15.600000,0.000000,250.000000,14.400000,1025.100000,7.900000,19.600000,54.166667,10.175000,746.166667,0.470000,21.941667
max,28.900000,8.700000,360.000000,64.800000,1043.800000,8.900000,25.200000,605.333333,18.766667,947.416667,0.545833,450.041667

In [125]:
conductivity_with_temp_and_sal_chlor=df[['Date','Atm.Temperature','Mean Watertemperature per Hour','Mean Salinity per Hour','Mean Conductivity per Hour','Mean Chlorofyl per Hour']]

In [126]:
conductivity_with_temp_and_sal_chlor

,Date,Atm.Temperature,Mean Watertemperature per Hour,Mean Salinity per Hour,Mean Conductivity per Hour,Mean Chlorofyl per Hour
83,2021-04-06 11:00:00,4.9,9.900000,0.473333,680.166667,4.466667
84,2021-04-06 12:00:00,5.5,9.900000,0.470000,676.666667,5.000000
85,2021-04-06 13:00:00,4.5,9.916667,0.475000,681.833333,6.066667
86,2021-04-06 14:00:00,1.8,9.891667,0.475000,682.000000,7.108333
87,2021-04-06 15:00:00,2.2,9.800000,0.477500,682.750000,7.375000
...,...,...,...,...,...,...
8756,2022-04-02 20:00:00,1.4,10.200000,0.500000,723.166667,10.233333
8757,2022-04-02 21:00:00,1.2,10.125000,0.498333,717.416667,9.558333
8758,2022-04-02 22:00:00,0.9,10.100000,0.505833,726.833333,9.908333
8759,2022-04-02 23:00:00,-0.2,10.075000,0.510000,734.833333,9.791667
8760,2022-04-03 00:00:00,-0.4,9.975000,0.518333,741.083333,9.483333

In [127]:
conductivity_with_temp_and_sal_chlor.to_excel(r'hourly_data.xlsx',header=True,index=False)