In [149]:
import pandas as pd
import numpy as np

## Read Data

In [174]:


Dendermonde_pH=pd.read_csv('Dendermonde SF Dender_pH.csv',delimiter=';',header=7)
Dendermonde_Watertemperature=pd.read_csv('Dendermonde SF Dender_Watertemperature.csv',delimiter=';',header=7)
Dendermonde_Turbidity=pd.read_csv('Dendermonde SF Dender_Turbidity.csv',delimiter=';',header=7)
Dendermonde_Dissolved_Oxygen=pd.read_csv('Dendermonde SF Dender_Dissolved Oxygen.csv',delimiter=';',header=7)
Dendermonde_Conductivity=pd.read_csv('Dendermonde SF Dender_Conductivity.csv',delimiter=';',header=7)

In [175]:
Dendermonde_pH=Dendermonde_pH.rename(columns={'Value':'PH','#Timestamp':'Date2'})
Dendermonde_pH=Dendermonde_pH.drop(columns={'Quality Code','Absolute Value','AV Quality Code'})

In [176]:
Dendermonde_Watertemperature=Dendermonde_Watertemperature.rename(columns={'Value':'Watertemperature','#Timestamp':'Date'})
Dendermonde_Watertemperature=Dendermonde_Watertemperature.drop(columns={'Quality Code','Absolute Value','AV Quality Code'})

In [177]:
Dendermonde_Turbidity=Dendermonde_Turbidity.rename(columns={'Value':'Turbidity','#Timestamp':'Date'})
Dendermonde_Turbidity=Dendermonde_Turbidity.drop(columns={'Quality Code','Absolute Value','AV Quality Code'})

In [178]:
Dendermonde_Dissolved_Oxygen=Dendermonde_Dissolved_Oxygen.rename(columns={'Value':'Dissolved_Oxygen','#Timestamp':'Date'})
Dendermonde_Dissolved_Oxygen=Dendermonde_Dissolved_Oxygen.drop(columns={'Quality Code','Absolute Value','AV Quality Code'})

In [179]:
Dendermonde_Conductivity=Dendermonde_Conductivity.rename(columns={'Value':'Conductivity','#Timestamp':'Date'})
Dendermonde_Conductivity=Dendermonde_Conductivity.drop(columns={'Quality Code','Absolute Value','AV Quality Code'})

## Preprocess In Order To Get Feature's Mean Value Per Day

In [180]:
Dendermonde_pH['Date2']=Dendermonde_pH['Date2'].str[:10]
Dendermonde_pH=Dendermonde_pH.apply(lambda x: x.str.replace(',','.'))
Dendermonde_pH['PH']=Dendermonde_pH['PH'].astype(float).round(3)
Dendermonde_pH['Date2']=pd.to_datetime(Dendermonde_pH['Date2'])
Dendermonde_pH = Dendermonde_pH.set_index('Date2')
ph=Dendermonde_pH.reset_index().groupby(pd.Grouper(key='Date2', freq='D'))['PH'].mean()
ph=ph.reset_index()
ph=ph.rename(columns={'PH':'Mean PH'})

In [181]:
Dendermonde_Watertemperature['Date']=Dendermonde_Watertemperature['Date'].str[:10]
Dendermonde_Watertemperature=Dendermonde_Watertemperature.apply(lambda x: x.str.replace(',','.'))
Dendermonde_Watertemperature['Watertemperature']=Dendermonde_Watertemperature['Watertemperature'].astype(float).round(3)
Dendermonde_Watertemperature['Date']=pd.to_datetime(Dendermonde_Watertemperature['Date'])
Dendermonde_Watertemperature = Dendermonde_Watertemperature.set_index('Date')
wt=Dendermonde_Watertemperature.reset_index().groupby(pd.Grouper(key='Date', freq='D'))['Watertemperature'].mean()
wt=wt.reset_index()
wt=wt.rename(columns={'Watertemperature':'Mean Watertemperature'})

In [182]:
Dendermonde_Turbidity['Date']=Dendermonde_Turbidity['Date'].str[:10]
Dendermonde_Turbidity['Date']=pd.to_datetime(Dendermonde_Turbidity['Date'])
Dendermonde_Turbidity = Dendermonde_Turbidity.set_index('Date')
tur=Dendermonde_Turbidity.reset_index().groupby(pd.Grouper(key='Date', freq='D'))['Turbidity'].mean()
tur=tur.reset_index()
tur=tur.rename(columns={'Turbidity':'Mean Turbidity'})

In [183]:
Dendermonde_Dissolved_Oxygen['Date']=Dendermonde_Dissolved_Oxygen['Date'].str[:10]
Dendermonde_Dissolved_Oxygen=Dendermonde_Dissolved_Oxygen.apply(lambda x: x.str.replace(',','.'))
Dendermonde_Dissolved_Oxygen['Dissolved_Oxygen']=Dendermonde_Dissolved_Oxygen['Dissolved_Oxygen'].astype(float).round(3)
Dendermonde_Dissolved_Oxygen['Date']=pd.to_datetime(Dendermonde_Dissolved_Oxygen['Date'])
Dendermonde_Dissolved_Oxygen = Dendermonde_Dissolved_Oxygen.set_index('Date')
do=Dendermonde_Dissolved_Oxygen.reset_index().groupby(pd.Grouper(key='Date', freq='D'))['Dissolved_Oxygen'].mean()
do=do.reset_index()
do=do.rename(columns={'Dissolved_Oxygen':'Mean Dissolved_Oxygen'})

In [184]:
Dendermonde_Conductivity['Date']=Dendermonde_Conductivity['Date'].str[:10]
Dendermonde_Conductivity['Date']=pd.to_datetime(Dendermonde_Conductivity['Date'])
Dendermonde_Conductivity = Dendermonde_Conductivity.set_index('Date')
con=Dendermonde_Conductivity.reset_index().groupby(pd.Grouper(key='Date', freq='D'))['Conductivity'].mean()
con=con.reset_index()
con=con.rename(columns={'Dendermonde_Conductivity':'Mean Conductivity'})

## Concat in a singe Datagrame

In [190]:
merged=pd.concat([wt,ph,tur,do,con],axis=1)
merged = merged.loc[:,~merged.T.duplicated(keep='first')]
merged=merged.drop(columns={'Date2'})
merged['Mean PH']=merged['Mean PH'].fillna(merged['Mean PH'].mean())

In [191]:
merged

,Date,Mean Watertemperature,Mean PH,Mean Turbidity,Mean Dissolved_Oxygen,Conductivity
0,2021-03-19,7.700000,7.408333,8.833333,11.850000,609.666667
1,2021-03-20,7.788194,7.400694,9.211806,11.971875,619.472222
2,2021-03-21,8.045833,7.390972,8.093750,11.957292,626.350694
3,2021-03-22,7.898611,7.397917,12.961806,11.733333,624.270833
4,2021-03-23,8.148611,7.340625,30.958333,11.376042,627.065972
...,...,...,...,...,...,...
362,2022-03-16,9.506597,7.637565,18.767361,11.955556,682.284722
363,2022-03-17,9.651389,7.637565,16.593750,11.770486,693.763889
364,2022-03-18,9.646528,7.637565,15.284722,12.306944,706.072917
365,2022-03-19,9.872222,7.637565,14.052083,12.845833,720.427083
366,2022-03-20,9.678448,7.637565,13.353448,12.599138,705.330435

In [192]:
merged.to_excel('Dendermonde_water_info_website_mean_per_day.xlsx',header=True)

## Approach without taking in consideration the day (keep multiple logs per day)

## Read Data

In [139]:
Dendermonde_pH=pd.read_csv('Dendermonde SF Dender_pH.csv',delimiter=';',header=7)
Dendermonde_Watertemperature=pd.read_csv('Dendermonde SF Dender_Watertemperature.csv',delimiter=';',header=7)
Dendermonde_Turbidity=pd.read_csv('Dendermonde SF Dender_Turbidity.csv',delimiter=';',header=7)
Dendermonde_Dissolved_Oxygen=pd.read_csv('Dendermonde SF Dender_Dissolved Oxygen.csv',delimiter=';',header=7)
Dendermonde_Conductivity=pd.read_csv('Dendermonde SF Dender_Conductivity.csv',delimiter=';',header=7)

## Preprocess

In [140]:
Dendermonde_pH=Dendermonde_pH.rename(columns={'Value':'PH','#Timestamp':'Date2'})
Dendermonde_pH=Dendermonde_pH.drop(columns={'Quality Code','Absolute Value','AV Quality Code'})
Dendermonde_Watertemperature=Dendermonde_Watertemperature.rename(columns={'Value':'Watertemperature','#Timestamp':'Date'})
Dendermonde_Watertemperature=Dendermonde_Watertemperature.drop(columns={'Quality Code','Absolute Value','AV Quality Code'})
Dendermonde_Turbidity=Dendermonde_Turbidity.rename(columns={'Value':'Turbidity','#Timestamp':'Date3'})
Dendermonde_Turbidity=Dendermonde_Turbidity.drop(columns={'Quality Code','Absolute Value','AV Quality Code'})
Dendermonde_Dissolved_Oxygen=Dendermonde_Dissolved_Oxygen.rename(columns={'Value':'Dissolved_Oxygen','#Timestamp':'Date4'})
Dendermonde_Dissolved_Oxygen=Dendermonde_Dissolved_Oxygen.drop(columns={'Quality Code','Absolute Value','AV Quality Code'})
Dendermonde_Conductivity=Dendermonde_Conductivity.rename(columns={'Value':'Conductivity','#Timestamp':'Date5'})
Dendermonde_Conductivity=Dendermonde_Conductivity.drop(columns={'Quality Code','Absolute Value','AV Quality Code'})

In [141]:
Dendermonde_pH=Dendermonde_pH.apply(lambda x: x.str.replace(',','.'))
Dendermonde_Watertemperature=Dendermonde_Watertemperature.apply(lambda x: x.str.replace(',','.'))
Dendermonde_Dissolved_Oxygen=Dendermonde_Dissolved_Oxygen.apply(lambda x: x.str.replace(',','.'))
Dendermonde_pH['PH']=Dendermonde_pH['PH'].astype(float).round(3)
Dendermonde_Watertemperature['Watertemperature']=Dendermonde_Watertemperature['Watertemperature'].astype(float).round(3)
Dendermonde_Dissolved_Oxygen['Dissolved_Oxygen']=Dendermonde_Dissolved_Oxygen['Dissolved_Oxygen'].astype(float).round(3)

In [142]:
Dendermonde_pH['Date2']=Dendermonde_pH['Date2'].str[:19]
Dendermonde_pH['Date2']=pd.to_datetime(Dendermonde_pH['Date2'])

Dendermonde_Watertemperature['Date']=Dendermonde_Watertemperature['Date'].str[:19]
Dendermonde_Watertemperature['Date']=pd.to_datetime(Dendermonde_Watertemperature['Date'])

Dendermonde_Dissolved_Oxygen['Date4']=Dendermonde_Dissolved_Oxygen['Date4'].str[:19]
Dendermonde_Dissolved_Oxygen['Date4']=pd.to_datetime(Dendermonde_Dissolved_Oxygen['Date4'])

Dendermonde_Turbidity['Date3']=Dendermonde_Turbidity['Date3'].str[:19]
Dendermonde_Turbidity['Date3']=pd.to_datetime(Dendermonde_Turbidity['Date3'])

Dendermonde_Conductivity['Date5']=Dendermonde_Conductivity['Date5'].str[:19]
Dendermonde_Conductivity['Date5']=pd.to_datetime(Dendermonde_Conductivity['Date5'])

In [143]:
Dendermonde_pH=Dendermonde_pH.drop_duplicates(subset=['Date2'])
Dendermonde_Watertemperature=Dendermonde_Watertemperature.drop_duplicates(subset=['Date'])
Dendermonde_Dissolved_Oxygen=Dendermonde_Dissolved_Oxygen.drop_duplicates(subset=['Date4'])
Dendermonde_Turbidity=Dendermonde_Turbidity.drop_duplicates(subset=['Date3'])
Dendermonde_Conductivity=Dendermonde_Conductivity.drop_duplicates(subset=['Date5'])

## Join  Dataframes Based on Date in order to be specific (down to seconds)

In [144]:
m1=pd.merge(Dendermonde_Watertemperature,Dendermonde_pH,left_on='Date',right_on='Date2',how='left')
m2=pd.merge(Dendermonde_Turbidity,Dendermonde_Dissolved_Oxygen,left_on='Date3',right_on='Date4',how='left')
m3=pd.merge(m1,m2,left_on='Date',right_on='Date3',how='inner')
final_df_daily=pd.merge(m3,Dendermonde_Conductivity,left_on='Date',right_on='Date5',how='left')

In [145]:
final_df_daily

,Date,Watertemperature,Date2,PH,Date3,Turbidity,Date4,Dissolved_Oxygen,Date5,Conductivity
0,2021-03-19 23:00:00,7.7,2021-03-19 23:00:00,7.5,2021-03-19 23:00:00,9,2021-03-19 23:00:00,12.0,2021-03-19 23:00:00,608.0
1,2021-03-19 23:05:00,7.7,2021-03-19 23:05:00,7.4,2021-03-19 23:05:00,8,2021-03-19 23:05:00,12.0,2021-03-19 23:05:00,609.0
2,2021-03-19 23:10:00,7.7,2021-03-19 23:10:00,7.4,2021-03-19 23:10:00,9,2021-03-19 23:10:00,11.9,2021-03-19 23:10:00,610.0
3,2021-03-19 23:15:00,7.7,2021-03-19 23:15:00,7.4,2021-03-19 23:15:00,8,2021-03-19 23:15:00,11.9,2021-03-19 23:15:00,609.0
4,2021-03-19 23:20:00,7.7,2021-03-19 23:20:00,7.4,2021-03-19 23:20:00,9,2021-03-19 23:20:00,11.8,2021-03-19 23:20:00,609.0
...,...,...,...,...,...,...,...,...,...,...
105231,2022-03-20 09:15:00,9.4,NaT,NaN,2022-03-20 09:15:00,12,2022-03-20 09:15:00,12.8,2022-03-20 09:15:00,701.0
105232,2022-03-20 09:20:00,9.4,NaT,NaN,2022-03-20 09:20:00,11,2022-03-20 09:20:00,12.9,2022-03-20 09:20:00,700.0
105233,2022-03-20 09:25:00,9.3,NaT,NaN,2022-03-20 09:25:00,11,2022-03-20 09:25:00,12.8,2022-03-20 09:25:00,701.0
105234,2022-03-20 09:30:00,9.3,NaT,NaN,2022-03-20 09:30:00,12,2022-03-20 09:30:00,12.9,2022-03-20 09:30:00,700.0
105235,2022-03-20 09:35:00,9.3,NaT,NaN,2022-03-20 09:35:00,12,2022-03-20 09:35:00,12.8,NaT,NaN

## Preprocess Again

In [146]:


final_df_daily=final_df_daily.drop(columns={'Date2','Date3','Date4','Date5'})

final_df_daily['PH']=final_df_daily['PH'].fillna(final_df_daily['PH'].mean())
final_df_daily['Conductivity']=final_df_daily['Conductivity'].fillna(final_df_daily['Conductivity'].mean())
final_df_daily['PH']=final_df_daily['PH'].round(1)
final_df_daily['Conductivity']=final_df_daily['Conductivity'].round(1)

In [194]:
final_df_daily

,Date,Watertemperature,PH,Turbidity,Dissolved_Oxygen,Conductivity
0,2021-03-19 23:00:00,7.7,7.5,9,12.0,608.0
1,2021-03-19 23:05:00,7.7,7.4,8,12.0,609.0
2,2021-03-19 23:10:00,7.7,7.4,9,11.9,610.0
3,2021-03-19 23:15:00,7.7,7.4,8,11.9,609.0
4,2021-03-19 23:20:00,7.7,7.4,9,11.8,609.0
...,...,...,...,...,...,...
105231,2022-03-20 09:15:00,9.4,7.6,12,12.8,701.0
105232,2022-03-20 09:20:00,9.4,7.6,11,12.9,700.0
105233,2022-03-20 09:25:00,9.3,7.6,11,12.8,701.0
105234,2022-03-20 09:30:00,9.3,7.6,12,12.9,700.0
105235,2022-03-20 09:35:00,9.3,7.6,12,12.8,685.6

In [193]:
final_df_daily.to_excel('Dendermonde_water_info_website_all_logs_per_day.xlsx',header=True)